{% extends "content/base.html" %}
{% block content %}
<style>
	input:disabled, textarea:disabled, select:disabled {
		background-color: #e0e0e0; /* Light grey background color */
		color: #666; /* Optional: change text color for better contrast */
	}
</style>
	<div class="main shifted" id="main">
		{% include 'content/sidebar.html' %}
		<main id="content-start" class="content" tabindex="-1">
			<div id="content" class="colM">
				<div id="content-main">
					<h1>Editing blockly - {{blockly.title}}</h1>
					<form method="post" id="user_form" novalidate="">
						{% csrf_token %}
						<div>
							<fieldset class="module aligned wide">

								<div class="form-row"><div><div class="flex-container">
									<label class="required">ID:</label>
									{{form.id}}
								</div></div></div>

								<div class="form-row"><div><div class="flex-container">
									<label class="required">Title:</label>
									{{form.title}}
									{% if form.title.errors %} <div class="form-errors">{{ form.title.errors }}</div> {% endif %}
								</div></div></div>

								<div class="form-row"><div><div class="flex-container">
									<label class="required">Title:</label>
									{{form.expected_task}}
									{% if form.expected_task.errors %} <div class="form-errors">{{ form.expected_task.errors }}</div> {% endif %}
								</div></div></div>

								<div class="form-row"><div><div class="flex-container">
									<label class="required">Title:</label>
									{{form.expected_result}}
									{% if form.expected_result.errors %} <div class="form-errors">{{ form.expected_result.errors }}</div> {% endif %}
								</div></div></div>

								<div class="form-row"><div><div class="flex-container">
									<label class="required">Toolbox:</label>
									{{form.toolbox}}
									{% if form.toolbox.errors %} <div class="form-errors">{{ form.toolbox.errors }}</div> {% endif %}
								</div></div></div>

							</fieldset>

							<div class="submit-row">
								<input type="submit" value="Save" class="default" name="_save">
							</div>

						</div>
					</form>
				</div>
			</div>
		</main>
	</div>

	{% endblock %}
