<link rel="stylesheet" href="/public/admin/css/base.css">
<link rel="stylesheet" href="/public/admin/css/dark_mode.css">
<link rel="stylesheet" href="/public/admin/css/forms.css">
<script src="/public/admin/js/theme.js" defer=""></script>
<link rel="stylesheet" href="/public/admin/css/nav_sidebar.css">
<script src="/public/admin/js/nav_sidebar.js" defer=""></script>
<link rel="stylesheet" href="/public/admin/css/changelists.css">
<script src="/public/admin/js/vendor/jquery/jquery.js"></script>
<script src="/public/admin/js/jquery.init.js"></script>
<script src="/public/admin/js/core.js"></script>
<script src="/public/admin/js/admin/RelatedObjectLookups.js"></script>
<script src="/public/admin/js/actions.js"></script>
<script src="/public/admin/js/urlify.js"></script>
<script src="/public/admin/js/prepopulate.js"></script>
<script src="/public/admin/js/vendor/xregexp/xregexp.js"></script>
<script src="/public/admin/js/filters.js" defer=""></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/public/admin/css/responsive.css">

