<div class=" app-auth model-user change-list" data-admin-utc-offset="0">
<a href="#content-start" class="skip-to-content-link">Skip to main content</a>
<!-- Container -->
<div id="container">
<!-- Header -->
<header id="header">
	<div id="branding">
		<div id="site-name"><a href="/admin/">Django administration</a></div>
	</div>
	<div id="user-tools">
		{%  if course %}
			<a style="margin-right: 20px;" href="{% url 'admin_course_download' course_id=course.id %}">DOWNLOAD</a>
		{% endif %}
		<a href="/">View site</a> /
		<a href="/admin/password_change/">Change password</a> /
		<form id="logout-form" method="post" action="/admin/logout/">
			{% csrf_token %}
			<button type="submit">Log out</button>
		</form>
		<button class="theme-toggle">
			<div class="visually-hidden theme-label-when-auto">Toggle theme (current theme: auto)</div>
			<div class="visually-hidden theme-label-when-light">Toggle theme (current theme: light)</div>
			<div class="visually-hidden theme-label-when-dark">Toggle theme (current theme: dark)</div>
			<svg aria-hidden="true" class="theme-icon-when-auto">
				<use xlink:href="#icon-auto"></use>
			</svg>
			<svg aria-hidden="true" class="theme-icon-when-dark">
				<use xlink:href="#icon-moon"></use>
			</svg>
			<svg aria-hidden="true" class="theme-icon-when-light">
				<use xlink:href="#icon-sun"></use>
			</svg>
		</button>
	</div>
</header>
<!-- END Header -->
<nav aria-label="Breadcrumbs">
	<div class="breadcrumbs">
		{{ breadcrumbs.items }}
		{% for crum in breadcrumbs %}
			{% for k, v in crum.items %}
				{% if v != '#' %}
					<a href="{{v}}">{{k}}</a> ›
				{% else %}
					{{k}}
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</nav>
