<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="Toggle navigation"></button>
<nav class="sticky" id="nav-sidebar" aria-label="Sidebar" aria-expanded="true">
	<div class="app-auth module current-app">
		{% if course %}
		<table>
			<p> </p>
			<caption>
				<a href="#" class="section" title="Models in the Authentication and Authorization application">Course -> {{course.title}}</a>
			</caption>
			<tbody>
				<tr class="model-group">
					<th scope="row"><a href="{% url 'admin_course_edit' course_id=course.id %}">Course</a></th>
				<td></td>
				</tr>
				<tr class="model-group">
					<th scope="row"><a href="{% url 'admin_project_overview' course_id=course.id %}">Projects</a></th>
					<td><a href="{% url 'admin_project_new' course_id=course.id%}" class="addlink">Add</a></td>
				</tr>
				<tr class="model-group">
					<th scope="row"><a href="{% url 'admin_test_overview' course_id=course.id %}">Tests</a></th>
				<td></td>
				</tr>
			</tbody>
		</table>
		{% endif %}

		{% if project %}
		<table>
			<p> </p>
			<caption>
				<a href="{% url 'admin_project_edit' course_id=course.id  project_id=project.id%}"
					class="section" title="Models in the Authentication and Authorization application">Project -> {{project.title}}</a>
			</caption>
			<tbody>
				<tr class="model-group">
					<th scope="row"><a href="{% url 'admin_lesson_overview' course_id=course.id  project_id=project.id%}">Lessons</a></th>
					<td><a href="{% url 'admin_lesson_new' course_id=course.id project_id=project.id %}" class="addlink">Add</td>
				</tr>
				<tr class="model-group">
					<th scope="row"><a href="{% url 'admin_chapter_overview' course_id=course.id project_id=project.id%}">Chapters</a></th>
					<td><a href="{% url 'admin_lesson_new' course_id=course.id project_id=project.id %}" class="addlink">Add</td>
				</tr>
			</tbody>
		</table>
		{% endif %}
	</div>
</nav>

