<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="Toggle navigation"></button>
<nav class="sticky" id="nav-sidebar" aria-label="Sidebar" aria-expanded="true">
	<div class="app-auth module current-app">
		<table>
			<p> </p>
			{% if course %}
			<caption>
				<a href="#" class="section" title="Models in the Authentication and Authorization application">{{course.title}}</a>
			</caption>
			<tbody>
				<tr class="model-group">
					<th scope="row"><a href="{% url 'admin_course_edit' course_id=course.id %}">Course</a></th>
					<td></td>
				</tr>
				<tr class="model-group">
					<th scope="row"><a href="{% url 'admin_project_overview' course_id=course.id %}">Projects</a></th>
					<td><a href="{% url 'admin_project_new' course_id=course.id%}" class="addlink">Add</a></td>
				</tr>
				<tr class="model-group">
					<th scope="row"><a href="{% url 'admin_lesson_overview' course_id=course.id %}">Lessons</a></th>
					<td><a href="{% url 'admin_lesson_new' course_id=course.id %}" class="addlink">Add</td>
				</tr>
				<tr class="model-group">
					<th scope="row"><a href="{% url 'admin_chapter_overview' course_id=course.id %}">Chapters</a></th>
					<td></td>
				</tr>
				<tr class="model-group">
					<th scope="row"><a href="{% url 'admin_test_overview' course_id=course.id %}">Tests</a></th>
					<td></td>
				</tr>
			</tbody>
			{% endif %}
		</table>
	</div>
</nav>

