{% extends "content/base.html" %}
{% load content_tags %}
{% block content %}

	<div class="main shifted" id="main">
		{% include 'content/sidebar.html' %}
		<main id="content-start" class="content" tabindex="-1">
			<!-- Content -->
			<div id="content" class="">
				<h1>List of chapters</h1>
				<div id="content-main">
					<ul class="object-tools">
						<li>
							<a href="{% url 'admin_chapter_new' course_id=course.id project_id=project.id %}" class="addlink">
								New Chapter
							</a>
						</li>
					</ul>
					<div class="module filtered" id="changelist">
						<div class="changelist-form-container">
							<div class="results">
								<table id="result_list">
									<thead>
										<tr>
											<th scope="col">
												<div class="text">ID</div>
												<div class="clear"></div>
											</th>
											<th scope="col">
												<div class="text">Title</div>
												<div class="clear"></div>
											</th>
											<th scope="col">
												<div class="text">Lesson</div>
												<div class="clear"></div>
											</th>
											<th scope="col">
												<div class="text">Unlock type</div>
												<div class="clear"></div>
											</th>
											<th scope="col">
												<div class="text">Unlock id</div>
												<div class="clear"></div>
											</th>
											<th scope="col">
												<div class="text">Actions</div>
												<div class="clear"></div>
											</th>
										</tr>

										<form method="post">
											{% csrf_token %}
											<tr>
												<th scope="col"> </th>
												<th scope="col"> <div class="text">{{filter.title}}</div> </th>
												<th scope="col"> <div class="text">{{filter.lesson_id}}</div> </th>
												<th scope="col"> <div class="text">{{filter.unlock_type}}</div> </th>
												<th scope="col"> <div class="text">{{filter.unlock_id}}</div> </th>
												<th scope="col">
														<button type="submit"> <img src="/public/admin/img/icon-viewlink.svg" alt="False"> </button>
												</th>
											</tr>
										</form>

							</thead>
							<tbody>

								{% for chapter in chapters %}
								<tr>
									<td>{{chapter.id}}</td>
									<td>{{chapter.title}}</td>
									{% get_lesson_name chapter.lesson_id course.database project.database as lesson_title %}
									<td>{{lesson_title}}</td>
									<td>{{chapter.unlock_type}}</td>
									<td>{{chapter.unlock_id}}</td>
									<td>
										<a href="{% url 'admin_chapter_edit' course_id=course.id project_id=project.id lesson_id=chapter.lesson_id chapter_id=chapter.id %}">
											<img src="/public/admin/img/icon-changelink.svg" alt="False">
										</a>
											<a href="{% url 'admin_chapter_delete' course_id=course.id project_id=project.id lesson_id=chapter.lesson_id chapter_id=chapter.id %}" onclick="if (!confirm('Are you sure you want to delete this project?')) { event.preventDefault(); }"><img src="/public/admin/img/icon-deletelink.svg" alt="False"></a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<br class="clear">
	</div>
	<!-- END Content -->
	<div id="footer"></div>
</main>
	</div>
<!-- END Container -->
{% endblock %}
