<div class="chapter_block mb-6 md:w-4/6 mx-auto">
	<h3>{{blockly.title}}</h3><br>
	<div>{{blockly.task_description}}</div>

	<div id="blocklyDiv" style="height: 480px" class="mt-5"></div>
	<h4 class="mt-5">Generated Python Code:</h4>
	<div id="blockly-flash-messages"> </div>
	<div id="blocklyPythonCode"> </div>
	<meta name="csrf-token" content="{{ csrf_token }}">

	<button id="validateButton" class="gray_button mt-3">Validate Python Code</button>
</div>
<script type="text/javascript">
	window.blocklyToolboxConfig = {{ blockly.toolbox | safe }};
	window.blocklyId = {{ blockly.id | safe }};
	window.courseName = "{{ course }}";
	window.chapterId = "{{ chapter.id }}";
	window.lessonId = "{{ chapter.lesson_id }}";
	window.projectId = "{{ project.id }}";
	window.chapterFinished = "{{ chapter_finished }}";
</script>
