<link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/default.min.css">
<script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
<!--<script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/languages/python.min.js"></script>-->
<script>hljs.highlightAll();</script>

<h2 class="text-5xl">{{ chapter.title }}</h2>

{% for section in chapter.texts %}
  <h3 class="text-xl">{{ section.title }}</h3>
  <p>{{ section.text }}<p>
  <pre><code class="language-python">{{ section.code }}</code></pre>
  <hr>
  <pre><code class="language-bash">{{ section.cli }}</code></pre>
  <pre><code class="language-bash">echo ${a[$i,$j]}</code></pre>
  <hr>
  <hr>
  <hr>

{% endfor %}
