{% extends "base.html" %}

{% block content %}
   <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js" ></script>
   {{project}}
   {{hello}}
   <div style="height: 90vh;" class="cursor-grabbing" id="projectNetwork"></div>

   <script type="text/javascript">
   // NODES
   let nodes_parsed = [];
   {% for lesson in project.lessons %}
      nodes_parsed.push({
        id: {{ lesson.id }},
        label: '{{ lesson.label }}',
        url: {{ lesson.id }} === 1100 ? '/projects/lesson-{{ lesson.id }}/chapter-' + ({{lesson.id}} + 1) : '#',
        color: {{ lesson.id }} === 1100 ? '#34eb40' :
               {{ lesson.id }} === 1200 ? '#34c6eb' :
               {{ lesson.id }} === 1300 ? '#34c6eb' : '#cccccc'
        });
   {% endfor %}

   var nodes = new vis.DataSet(
     nodes_parsed
   );

   // EDGES
   let edges_parsed = [];
   {% for lesson in project.lessons %}
     {% for to in lesson.to %}
       edges_parsed.push({ from: {{ lesson.id }} , to: {{ to }} });
     {% endfor %}
   {% endfor %}

   var edges = new vis.DataSet(
     edges_parsed
   );

   var network = new vis.Network(
     document.getElementById("projectNetwork"),
     {nodes: nodes, edges: edges},
     {
       edges: {
          arrows: { to: {enabled: true} },
          color: { color: '#cccccc' },
          chosen: false
       },
       nodes: {
         font: {
           size: 30
         },
         fixed: {
           x: true,
           y: true
         },
         shape: 'ellipse'
       },
       layout: {
         randomSeed: 1
       }
     }
   );

   network.on("selectNode", function (params) {
     if (params.nodes.length === 1) {
       var node = nodes.get(params.nodes[0]);
       if (node.url !== '#') {
          window.location.href = node.url;
       }
     }});
   </script>

   {% endblock %}

