{% extends "base.html" %}
{% load get_mongo_id %}

{% block content %}

  <h1 class="mb-4 mt-20 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl text-center">
    {{project.title}}
  </h1>
  <p class="text-center mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">
    {{project.card.description}}
  </p>


   <div style="height: 110vh;" class="cursor-grabbing" id="projectNetwork"></div>

   <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js" ></script>

   <script type="text/javascript">
   // NODES
   let nodes_parsed = [];
   {% for lesson in project.lessons %}
      nodes_parsed.push({
        id: {{ lesson.id }},
        label: '{{ lesson.label }}',
        url: {% if lesson.id in lesson_progress.open or lesson.id in lesson_progress.done %}
               '/projects/project-{{project|mongo_id}}/lesson-{{ lesson.id }}/chapter-{{lesson.id|add:1}}'
             {% else %}
               '#'
             {% endif %},
        color: {% if lesson.id in lesson_progress.done %}
                 '#34c6eb'
               {% elif lesson.id in lesson_progress.open %}
                 '#34eb40'
               {% else %}
                 '#cccccc'
               {%endif %}
        });
   {% endfor %}

   var nodes = new vis.DataSet(
     nodes_parsed
   );

   // EDGES
   let edges_parsed = [];
   {% for lesson in project.lessons %}
     {% for to in lesson.to %}
       edges_parsed.push({ from: {{ lesson.id }} , to: {{ to }} });
     {% endfor %}
   {% endfor %}

   var edges = new vis.DataSet(
     edges_parsed
   );


   var network = new vis.Network(
     document.getElementById("projectNetwork"),
     {nodes: nodes, edges: edges},
     {
       edges: {
          arrows: { to: {enabled: true} },
          color: { color: '#cccccc' },
          chosen: false
       },
       nodes: {
         font: {
           size: 30
         },
         fixed: {
           x: true,
           y: true
         },
         shape: 'ellipse'
       },
       layout: {
         randomSeed: 1
       }
     }
   );


   network.on("selectNode", function (params) {
     if (params.nodes.length === 1) {
       var node = nodes.get(params.nodes[0]);
       if (node.url !== '#') {
          window.location.href = node.url;
       }
     }});

    const canvas = network.canvas.frame.canvas;
    canvas.style.top = parseInt(canvas.style.top || 0) - 20 + "%";
   </script>

   {% endblock %}

