{% extends "base.html" %}
{% load tags %}

	{% block content %}
  <div>
    {% include 'projects/sidebar_project_detail.html' %}
  </div>

	<div class="w-3/4 mx-auto">
		<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl text-center">
			{{project.title}}
		</h1>
		<p class="text-center mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">
			{{project.description}}
		</p>

		{% if demo_url %}
			<a href="{% url demo_url course=course demo_id=project.id %}" class="text-blue-500 hover:underline">Přejít na ukázku projektu</a>
		{% endif %}
	</div>

	<div style="height: 70vh; margin-left: auto; margin-right: auto;" class="cursor-grabbing border mt-10 w-3/4" id="projectNetwork"></div>


	<div class="mx-auto md:w-3/4 mt-5 mb-5">
		<h3>Legenda</h3>
		<div class="grid grid-cols-1 md:grid-cols-3 gap-2">

			<div class="grid grid-cols-1 border p-2">
				<div>Odemčeno:</div>
				<div class="flex mx-auto">
					<div class="w-fit p-4 mr-4" style="
						border: 3px solid;
						border-color: #34c6eb;
						border-bottom-left-radius: 50% 50%;
						border-bottom-right-radius: 50% 50%;
						border-top-left-radius: 50% 50%;
						border-top-right-radius: 50% 50%;
						">Kapitola
					</div>
					<div class="border rounded-md w-fit p-4" style="
						background-color: #34c6eb;
						border: 1px solid black;
						">Lekce
					</div>
				</div>
			</div>

			<div class="grid grid-cols-1 border p-2">
				<div>Splněno:</div>
				<div class="flex mx-auto">
					<div class="w-fit p-4 mr-4" style="
						border: 3px solid;
						border-color: #34eb40;
						border-bottom-left-radius: 50% 50%;
						border-bottom-right-radius: 50% 50%;
						border-top-left-radius: 50% 50%;
						border-top-right-radius: 50% 50%;
						">Kapitola
					</div>
					<div class="border rounded-md w-fit p-4" style="
						background-color: #34eb40;
						border: 1px solid black;
						">Lekce
					</div>
				</div>
			</div>

			<div class="grid grid-cols-1 border p-2">
				<div>Zamčeno:</div>
				<div class="flex mx-auto">
					<div class="w-fit p-4 mr-4" style="
						border: 3px solid;
						border-color: #cccccc;
						border-bottom-left-radius: 50% 50%;
						border-bottom-right-radius: 50% 50%;
						border-top-left-radius: 50% 50%;
						border-top-right-radius: 50% 50%;
						">Kapitola
					</div>
					<div class="border rounded-md w-fit p-4" style="
						background-color: #cccccc;
						border: 1px solid black;
						">Lekce
					</div>
				</div>
			</div>

			<div class="grid grid-cols-1 border p-2">
				<div>Icony:</div>
				<div class="flex mx-auto">
					<div class="w-fit p-4 mr-4">
						🧩 -> programovací úkol<br>
						🖊️-> test<br>
						📖 -> čistě textová kapitola
					</div>
				</div>
			</div>


		</div>
	</div>

	<script type="text/javascript">
	// NODES
	let nodes_parsed = [];
	{% for chapter in ch %}
		nodes_parsed.push({
			shape: 'ellipse',
			id: '{{chapter.id}}',
			label: '{{chapter.label}}',
			url: '{{chapter.url}}',
			color: {border: '{{chapter.color}}', background: '#ffffff'},
			borderWidth: 3
		});
	{% endfor %}
	{% for lesson in l %}
		nodes_parsed.push({
			id: '{{lesson.id}}',
			shape: 'box',
			label: '{{lesson.label}}',
			color: {background: '{{lesson.color}}', border: 'black'},
			//font: {size: 25},
			margin: 10,
			url: '#'
		});
	{% endfor %}

	let edges_parsed = [];
	{% for edge in ledges %}
		edges_parsed.push({
			from: {{edge.from}},
			to: {{edge.to}},
			dashes: true,
			arrows: {to: {enabled: true}}
		});
	{% endfor %}
	{% for edge in chedges %}
		edges_parsed.push({
			from: '{{ edge.from }}',
			to: {{ edge.to }}
		});
	{% endfor %}

	window.graphData = {
		nodes: nodes_parsed,
		edges: edges_parsed
	};
	</script>

	{% endblock %}

