{% load static %}
{% load tags %}

{% if lesson_chapters|length > 1 %}
<div class="">
	<button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-200 rounded-full px-5 py-2.5 focus:outline-none m-5"
		type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">
		<i class="fa-solid fa-circle-chevron-right"></i>
	</button>

	<div id="drawer-navigation" class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-64" tabindex="-1" aria-labelledby="drawer-navigation-label">
		<h5 id="drawer-navigation-label" class="text-base font-semibold text-gray-500 uppercase ">Kapitoly</h5>
		<button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation"
			class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center" >
			<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
			</svg>
			<span class="sr-only">Zavřít</span>
		</button>
		<div class="py-4 mt-4 overflow-y-auto">
			<ul class="space-y-2">
				{% for chapter in lesson_chapters %}
				{% get_chapter_status course_name username chapter.id as chapter_progress %}
				<li>
					{% if chapter_progress == 'done' %}
					<a
						href="{% url 'projects:lesson' course=course_name project_id=project_id lesson_id=lesson.id chapter_id=chapter.id %}"
						class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group {% if chapter_id == chapter.id %} bg-blue-100 {% endif %}">
						<i class="fa-solid fa-check"></i>
						<span class="flex-1 ms-3 whitespace-nowrap">{{ chapter.title }}</span>
					</a>
					{% elif chapter_progress == 'open' %}
					<a
						href="{% url 'projects:lesson' course=course_name project_id=project_id lesson_id=lesson.id chapter_id=chapter.id %}"
						class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group {% if chapter_id == chapter.id %} bg-blue-100 {% endif %}">
						<i class="fa-solid fa-lock-open"></i>
						<span class="flex-1 ms-3 whitespace-nowrap">{{ chapter.title }}</span>
					</a>
					{% else %}
					<i class="fa-solid fa-lock"></i>
					<span class="flex-1 ms-3 whitespace-nowrap">{{ chapter.title }}</span>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% else %}
<br><br><br>
{% endif %}
