{% load get_mongo_id %}

{% if chapter.unlock_type  == 'button' %}
	<div class="chapter-buttons mx-auto md:w-4/6">
		{% if chapter_finished  %}
			{% include './unlocks/next_button.html' %}
		{% else %}
			{% include './unlocks/unlock_button.html' %}
		{% endif %}
	</div>
{% endif %}

{% if chapter.unlock_type  == 'blockly' %}
	<div>
		{% include './unlocks/blockly.html' %}
	</div>
	{% if chapter_finished  %}
		<div class="chapter-buttons mx-auto md:w-4/6">
			{% include './unlocks/next_button.html' %}
		</div>
	{% endif %}
{% endif %}

<link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/atom-one-dark.min.css">
<script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
<script>
	hljs.highlightAll();
	document.addEventListener('DOMContentLoaded', () => {
		const targetNode = document.getElementById('blocklyPythonCode');
		if (targetNode) {
			const observer = new MutationObserver((mutationsList) => {
				hljs.highlightAll()
			});

			observer.observe(targetNode, {
				childList: true,   // Observe direct children
				subtree: true      // Observe all descendants
			});
		}
	});
	</script>
