{% load get_mongo_id %}

<div class="mx-auto lg:w-4/6 pt-3">
		{% if chapter.unlock_type  == 'button' %}
			{% if chapter_finished  %}
				{% include './unlocks/next_button.html' %}
			{% else %}
				{% include './unlocks/unlock_button.html' %}
			{% endif %}
		{% endif %}

		{% if chapter.unlock_type  == 'blockly' %}
			{% include './unlocks/blockly.html' %}
			{% if chapter_finished  %}
				{% include './unlocks/next_button.html' %}
			{% endif %}
		{% endif %}
</div>

<link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/atom-one-dark.min.css">
<script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
<script>
	hljs.highlightAll();
	document.addEventListener('DOMContentLoaded', () => {
		const targetNode = document.getElementById('blocklyPythonCode');
		if (targetNode) {
			const observer = new MutationObserver((mutationsList) => {
				hljs.highlightAll()
			});

			observer.observe(targetNode, {
				childList: true,   // Observe direct children
				subtree: true      // Observe all descendants
			});
		}
	});
	</script>
