<!DOCTYPE html>
<html lang="en">

	<head>
		{% include 'head/head.html' %}
	</head>

	<body>
		<div class="login_center_headings">
			<h2 class="mt-10 text-center text-2xl leading-9 tracking-tight text-gray-900">
				Pro přístup do aplikace je
				potřeba dokončit registrační proces.
				Bližší informace se nacházejí v emailu,
				který byl zaslán na adresu. Je pravděpodobné že se email nachází ve SPAMU.
			</h2>
			<h2 class="mt-10 text-center font-bold text-2xl leading-9 tracking-tight text-gray-900">
				{{email}}
			</h2>
		</div>
	</body>
</html>

