{% extends "admin/index.html" %}

	{% block content %}

	{% if not 'students' in user.groups.all|stringformat:'s' %}
		<div class="app-content module">
			<table>
				<caption>
					<a href="" class="section" title="content">Content</a>
				</caption>
				<tbody>
					<tr class="model-group">
						<th scope="row"><a href="{% url 'admin_course_overview' %}">Content administration</a></th>
						<td></td>
						<td></td>
					</tr>
					<tr class="model-group">
						<th scope="row"><a href="{% url 'admin_users_overview' %}">User progress administration</a></th>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	{% endif %}

	{{ block.super }}
	{% endblock %}
