{% extends "base.html" %}
{% block content %}

{% if project_url %}
<div class="w-2/3 mx-auto mt-24">
	<a href="{{project_url}}" class="text-blue-500 hover:underline">Přejít k projektu</a>
</div>
{% endif %}

<div class="border border-black w-2/3 mx-auto my-auto mt-5 bg-white shadow-2xl overflow-y-scroll sm:h-[calc(100vh-300px)] h-screen">
	{% include './blog_navigation.html' %}
	<div class="max-w-4xl mx-auto my-8 p-6 bg-white rounded-lg">
		<div class="flex justify-between items-center mb-4">
			<h2 class="text-1xl font-bold text-gray-800">Seznam kategorií</h2>
			<a href="{% url 'demos:category_create'  course=course demo_id=demo.id%}" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">
				Nová kategorie
			</a>
		</div>

		{% if categories %}
		<ul class="space-y-2">
			{% for category in categories %}
			<li class="mt-2 flex justify-between items-center p-3 bg-blue-100 rounded-md hover:bg-blue-200">
				<span class="text-lg font-medium">{{ category.name }}</span>

				<div class="flex space-x-2">
					<a href="{% url 'demos:category_edit'  course=course demo_id=demo.id id=category.id %}" class="px-3 py-1 bg-yellow-500 text-white rounded-md hover:bg-yellow-600">
						Upravit
					</a>

					<a href="{% url 'demos:category_delete'  course=course demo_id=demo.id id=category.id %}"
						 class="px-3 py-1 bg-red-500 text-white rounded-md hover:bg-red-600"
						 onclick="return confirm('Opravdu chcete smazat tuto kategorii?');">
						Smazat
					</a>
				</div>
			</li>
		</ul>
        {% endfor %}
		{% else %}
			<p class="text-gray-500">Žádné kategorie nejsou k dispozici.</p>
		{% endif %}
	</div>
</div>
{% endblock %}
