{% extends "base.html" %}
{% block content %}
	{% if project_url %}
		<div class="w-full sm:w-2/3 mx-auto mt-24">
			<a href="{{project_url}}" class="text-blue-500 hover:underline">Přejít k projektu</a><br>
			<a href="{% url 'demos:clear_session_1' course=course demo_id=demo.id %}" style="color: red;">Resetovat data</a>
		</div>
	{% endif %}
	<div class="border border-black w-full sm:w-2/3 mx-auto my-auto mt-5 mb-5 bg-white shadow-2xl" style="height: calc(100vh - 300px);">
		<iframe src="{% url 'demos:habit_tracker_1' course=course demo_id=demo.id %}"
			sandbox="allow-forms allow-scripts allow-same-origin allow-top-navigation allow-top-navigation-by-user-activation"
			style="border: none; width: 100%; height: 500px;">
		</iframe>
	</div>
{% endblock %}
