{% extends "base.html" %}
{% block content %}
{% if project_url %}
<div class="w-2/3 mx-auto mt-8 sm:mt-24">
	<a href="{{project_url}}" class="text-blue-500 hover:underline">Přejít k projektu</a><br>
</div>
{% endif %}

<div class="border border-black overflow-y-auto w-full sm:w-2/3 mx-auto my-auto mb-5 mt-5 bg-white shadow-2xl h-[calc(100vh-200px)] sm:h-[calc(100vh-300px)]">
	<form action="{% url 'demos:logout' %}" method="post" class="flex justify-center items-center w-full h-full">
		{% csrf_token %}
		<button type="submit" class="px-6 py-3 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition duration-300">
			Přihlašovací formulář se zobrazí po kliknutí
		</button>
	</form>
</div>

{% endblock %}
