{% extends "content/base.html" %}
	{% block content %}
<style>
input:disabled, textarea:disabled, select:disabled {
	background-color: #e0e0e0; /* Light grey background color */
	color: #666; /* Optional: change text color for better contrast */
}
</style>
<div class="main shifted" id="main">
	{% include 'content/sidebar.html' %}
	<main id="content-start" class="content" tabindex="-1">
		<div id="content" class="colM">
			<div id="content-main">
				{% if project %}
				<h1>Course: {{course.title}} > Project: {{project.title}}</h1>
				{% else %}
				<h1>Creating new project</h1>
				{% endif %}
				<form method="post" novalidate="">
					{% csrf_token %}
					<div>
						<fieldset class="module aligned wide">
							<div class="form-row"><div><div class="flex-container">
								<label class="required">ID:</label>
								{{form.id}}
								{% if form.id.errors %} <div class="form-errors">{{ form.id.errors }}</div> {% endif %}
							</div></div></div>
							<div class="form-row"><div><div class="flex-container">
								<label class="required">Database:</label>
								{{form.database}}
								{% if form.database.errors %} <div class="form-errors">{{ form.database.errors }}</div> {% endif %}
							</div></div></div>
							<div class="form-row"><div><div class="flex-container">
								<label class="required">Title:</label>
								{{form.title}}
								{% if form.title.errors %} <div class="form-errors">{{ form.title.errors }}</div> {% endif %}
							</div></div></div>
							<div class="form-row"><div><div class="flex-container">
								<label class="required">Description:</label>
								{{form.description}}
								{% if form.description.errors %} <div class="form-errors">{{ form.description.errors }}</div> {% endif %}
							</div></div></div>
							<div class="form-row"><div><div class="flex-container">
								<label class="required">Todo tags:</label>
								{{form.todo}}
								{% if form.todo.errors %} <div class="form-errors">{{ form.todo.errors }}</div> {% endif %}
							</div></div></div>
						</fieldset>
						<div class="submit-row">
							<input type="submit" value="Save" class="default" name="_save">
						</div>
					</div>
				</form>
			</div>
		</div>

			<br class="clear">
			<br class="clear">
			<br class="clear">

			<div id="content" class="content">
			<h2> lesson map </h2>
				<div id="content-main">
					<div class="module filtered" id="changelist">
						<table id="result_list">
							<thead>
								<tr>
									<th scope="col">
										<div class="text">No</div>
										<div class="clear"></div>
									</th>
									<th scope="col">
										<div class="text">Label</div>
										<div class="clear"></div>
									</th>
									<th scope="col">
										<div class="text">To</div>
										<div class="clear"></div>
									</th>
									<th scope="col">
										<div class="text">Actions</div>
										<div class="clear"></div>
									</th>
								</tr>
							</thead>
							<tbody>
								{% for g in lessons_graph %}
								<tr>
									<td>{{g.no}}</td>
									<td>{{g.label}}</td>
									<td>{{g.to}}</td>
								<td> </td>
								</tr>
								{% endfor %}
								<tr>
									<td>
										<div class="cursor-grabbing" id="projectNetwork"></div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</main>
	</div>

	<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script type="text/javascript">
	let nodes_parsed = [];
	{% for lesson in lessons_graph %}
		nodes_parsed.push({ id: {{ lesson.no }}, label: '{{ lesson.label }}'});
	{% endfor %}

	var nodes = new vis.DataSet( nodes_parsed );
	let edges_parsed = [];
	{% for lesson in lessons_graph %}
		{% for to in lesson.to %}
			edges_parsed.push({ from: {{ lesson.no }} , to: {{ to }} });
		{% endfor %}
	{% endfor %}

	var edges = new vis.DataSet( edges_parsed );
	var network = new vis.Network( document.getElementById("projectNetwork"), {nodes: nodes, edges: edges}, {});
</script>


	{% endblock %}
