{% extends "content/base.html" %}
	{% block content %}
	{% include 'content/sidebar.html' %}
	<main id="content-start" class="content" tabindex="-1">
		<div id="content" class="colM">
			<div id="content-main">
				<h1>Editing project - {{course_title}}</h1>
				<form method="post" id="user_form" novalidate="">
					{% csrf_token %}
					<div>
						<fieldset class="module aligned wide">
							<div class="form-row"><div><div class="flex-container">
								<label class="required">ID:</label>
								{{form.id}}
							</div></div></div>
							<div class="form-row"><div><div class="flex-container">
								<label class="required">Title:</label>
								{{form.title}}
							</div></div></div>
							<div class="form-row"><div><div class="flex-container">
								<label class="required">NO:</label>
								{{form.no}}
							</div></div></div>
							<div class="form-row"><div><div class="flex-container">
								<label class="required">Project:</label>
								{{form.project}}
							</div></div></div>
						</fieldset>
						<div class="submit-row">
							<input type="submit" value="Save" class="default" name="_save">
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>

	{% endblock %}
