{% extends "content/base.html" %}
{% load content_tags %}
{% block content %}

	<div class="main shifted" id="main">
		{% include 'content/sidebar.html' %}
		<main id="content-start" class="content" tabindex="-1">
			<!-- Content -->
			<div id="content" class="">
				<h1>List of lessons</h1>
				<div id="content-main">
					<ul class="object-tools">
						<li>
							<a href="{% url 'admin_lesson_new' course_id=course.id project_id=project.id %}" class="addlink">
								New Lesson
							</a>
						</li>
					</ul>
					<div class="module filtered" id="changelist">
						<div class="changelist-form-container">
							<div class="results">
								<table id="result_list">
									<thead>
										<tr>
											<th scope="col">
												<div class="text">ID</div>
												<div class="clear"></div>
											</th>
											<th scope="col">
												<div class="text">Title</div>
												<div class="clear"></div>
											</th>
											<th scope="col">
												<div class="text">Actions</div>
												<div class="clear"></div>
											</th>
										</tr>
									</thead>
									<tbody>
										{% for lesson in lessons %}
										<tr>
											<td>{{lesson.id}}</td>
											<td>{{lesson.title}}</td>
											<td>
												<a style="margin-right: 20px;" href="{% url 'admin_lesson_edit' course_id=course.id project_id=project.id lesson_id=lesson.id %}"><img src="/public/admin/img/icon-changelink.svg" alt="False"></a>
												<a href="{% url 'admin_lesson_delete' course_id=course.id project_id=project.id lesson_id=lesson.id %}" onclick="if (!confirm('Are you sure you want to delete this project?')) { event.preventDefault(); }"><img src="/public/admin/img/icon-deletelink.svg" alt="False"></a>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							<div id="content" class="">
								<h3> Lesson map </h3>
								<hr>
								<div class="cursor-grabbing" id="projectNetwork" style="height: 500px; border: 1px black solid;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</main>
	</div>
	<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
	<script type="text/javascript">
	let nodes_parsed = [];
	{% for lesson in lessons %}
	nodes_parsed.push({ id: {{ lesson.id }}, label: '{{ lesson.id }}: ' + '{{ lesson.title }}'});
	{% endfor %}
	var nodes = new vis.DataSet( nodes_parsed );
	let edges_parsed = [];
	{% for lesson in lessons %}
		{% for to in lesson.to %}
			edges_parsed.push({ from: {{ lesson.id }} , to: {{ to }}, arrows: 'to' });
		{% endfor %}
	{% endfor %}

	console.log(edges_parsed);
	var edges = new vis.DataSet( edges_parsed );
	var network = new vis.Network( document.getElementById("projectNetwork"), {nodes: nodes, edges: edges}, {});
</script>
	{% endblock %}
