{% extends "content/base.html" %}
	{% block content %}
<style>
	input:disabled, textarea:disabled, select:disabled {
		background-color: #e0e0e0; /* Light grey background color */
		color: #666; /* Optional: change text color for better contrast */
	}
</style>
	<div class="main shifted" id="main">
		{% include 'content/sidebar.html' %}
		<main id="content-start" class="content" tabindex="-1">
			<div id="content" class="colM">
				<div id="content-main">
					<h1>Editing test - {{test.title}}</h1>
					<form method="post" id="user_form" novalidate="">
						{% csrf_token %}
						<div>
							<fieldset class="module aligned wide">

								<div class="form-row"><div><div class="flex-container">
									<label class="required">ID:</label>
									{{form.id}}
								</div></div></div>

								<div class="form-row"><div><div class="flex-container">
									<label class="required">Title:</label>
									{{form.title}}
									{% if form.title.errors %} <div class="form-errors">{{ form.title.errors }}</div> {% endif %}
								</div></div></div>

								<div class="form-row"><div><div class="flex-container">
									<label class="required">Description:</label>
									{{form.description}}
									{% if form.description.errors %} <div class="form-errors">{{ form.description.errors }}</div> {% endif %}
								</div></div></div>

								<div class="form-row"><div><div class="flex-container">
									<label class="required">Time in mins:</label>
									{{form.time}}
									{% if form.time.errors %} <div class="form-errors">{{ form.time.errors }}</div> {% endif %}
								</div></div></div>

								<div class="form-row"><div><div class="flex-container">
									<label class="required">UNLOCK project id:</label>
									{{form.unlock_project}}
									{% if form.unlock_project.errors %} <div class="form-errors">{{ form.unlock_project.errors }}</div> {% endif %}
								</div></div></div>

								<div class="form-row"><div><div class="flex-container">
									<label class="required">UNLOCK lesson id:</label>
									{{form.unlock_lesson}}
									{% if form.unlock_lesson.errors %} <div class="form-errors">{{ form.unlock_lesson.errors }}</div> {% endif %}
								</div></div></div>

								<div class="form-row"><div><div class="flex-container">
									<label class="required">UNLOCK chapter id:</label>
									{{form.unlock_chapter}}
									{% if form.unlock_chapter.errors %} <div class="form-errors">{{ form.unlock_chapter.errors }}</div> {% endif %}
								</div></div></div>

								<div class="form-row"><div><div class="flex-container">
									<label class="required">FINISHED project id:</label>
									{{form.finish_project}}
									{% if form.finish_project.errors %} <div class="form-errors">{{ form.finish_project.errors }}</div> {% endif %}
								</div></div></div>
								<div class="form-row"><div><div class="flex-container">
									<label class="required">FINISHED lesson id:</label>
									{{form.finish_lesson}}
									{% if form.finish_lesson.errors %} <div class="form-errors">{{ form.finish_lesson.errors }}</div> {% endif %}
								</div></div></div>

								<div class="form-row"><div><div class="flex-container">
									<label class="required">FINISHED chapter id:</label>
									{{form.finish_chapter}}
									{% if form.finish_chapter.errors %} <div class="form-errors">{{ form.finish_chapter.errors }}</div> {% endif %}
								</div></div></div>

								<div class="form-row"><div><div class="flex-container">
									<label class="required">Attempts:</label>
									{{form.attempts}}
									{% if form.attempts.errors %} <div class="form-errors">{{ form.attempts.errors }}</div> {% endif %}
								</div></div></div>

								<div class="form-row"><div><div class="flex-container">
									<label class="required">Success Score (%):</label>
									{{form.success_score}}
									{% if form.success_score.errors %} <div class="form-errors">{{ form.success_score.errors }}</div> {% endif %}
								</div></div></div>

								<div class="form-row"><div><div class="flex-container">
									<label class="required">Total Points:</label>
									{{form.total_points}}
									{% if form.total_points.errors %} <div class="form-errors">{{ form.total_points.errors }}</div> {% endif %}
								</div></div></div>

							</fieldset>
							<div class="submit-row">
								<input type="submit" value="Save" class="default" name="_save">
							</div>
						</div>
					</form>
				</div>
			</div>


		{% if test %}
		<br class="clear">
		<br class="clear">
		<br class="clear">

		<div id="content" class="content">
		<h2> Questions </h2>
			<div id="content-main">
				<ul class="object-tools">
					<li>
						<a href="{% url 'admin_test_new_question' course_id=course.id test_id=test.id %}" class="addlink">
							New Question
						</a>
					</li>
				</ul>
				<div class="module filtered" id="changelist">
					<table id="result_list">
						<thead>
							<tr>
								<th scope="col">
									<div class="text">Question</div>
									<div class="clear"></div>
								</th>
								<th scope="col">
									<div class="text">Type</div>
									<div class="clear"></div>
								</th>
								<th scope="col">
									<div class="text">Points</div>
									<div class="clear"></div>
								</th>
								<th scope="col">
									<div class="text">Actions</div>
									<div class="clear"></div>
								</th>
							</tr>
						</thead>
						<tbody>
							{% for q in questions %}
							<tr>
								<td>{{ q.question }}</td>
								<td>{{ q.type }}</td>
								<td>{{ q.points }}</td>
								<td>
									<a href="{% url 'admin_test_edit_question' course_id=course.id test_id=test.id question_id=q.id %}"><img src="/public/admin/img/icon-changelink.svg" alt="False"></a>
									<a href="{% url 'admin_test_delete_question' course_id=course.id test_id=test.id question_id=q.id %}" onclick="if (!confirm('Are you sure you want to delete this question?')) { event.preventDefault(); }"><img src="/public/admin/img/icon-deletelink.svg" alt="False"></a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		{% endif %}

		</main>
	</div>

	{% endblock %}
