{% extends "content/base.html" %}
	{% block content %}
<style>
	p {
		margin-left: 0 !important;
		margin-bottom: 0 !important;
		padding-left: 5px !important;
	}
	.note-editor .note-editable * {
		margin-left: 0 !important;
		padding-left: 5px !important;
	}
	.b-info {
		background-color: lightgrey !important;
	}
	pre {
		background-color: lightgrey !important;
		padding: 15px !important;
		margin-bottom: 0 !important;
	}
	blockquote {
		margin-bottom: 0 !important;
	}
	ul {
		list-style-type: square !important;
		list-style-type: disc !important;
	}
	input[readonly] {
		background-color: #e0e0e0; /* Light grey background color */
		color: #666; /* Optional: change text color for better contrast */
		cursor: not-allowed;
	}
	code.language-bash {
		color: white;
	}
	.filename {
		background-color: aquamarine;
	}
	.bash-prompt {
		background-color: blue;
		padding-right: 15px;
	}
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

	<div class="main shifted" id="main">
		{% include 'content/sidebar.html' %}
		<main id="content-start" class="content" tabindex="-1">
			<div id="content" class="colM">
				<div id="content-main">
				{% if block %}
					<h1>Adding new text block - {{course.title}}</h1>
					<ul class="object-tools">
						<li>
							<a href="{% url 'admin_chapter_edit' course_id=course.id project_id=project.id lesson_id=chapter.lesson_id chapter_id=chapter.id %}" >
								BACK
							</a>
						</li>
					</ul>
				{% else %}
					<h1>Creating new block</h1>
				{% endif %}
					<form method="post" id="user_form" novalidate="">
						{% csrf_token %}
						<div>
							<fieldset class="module aligned wide">
								<div class="form-row"><div><div class="flex-container">
									<label class="required">ID:</label>
									{{form.id}}
								</div></div></div>

								<div class="form-row"><div><div class="flex-container">
									<label class="required">Order:</label>
									{{form.order}}
									{% if form.order.errors %} <div class="form-errors">{{ form.order.errors }}</div> {% endif %}
								</div></div></div>

								<div class="form-row"><div><div class="flex-container">
									<label class="required">Title:</label>
									{{form.title}}
									{% if form.title.errors %} <div class="form-errors">{{ form.title.errors }}</div> {% endif %}
								</div></div></div>

								<div class="flex-none">
									<label class="required">Text:</label>
									{{form.text}}
								</div>

						</fieldset>
						<div class="submit-row">
							<input type="submit" value="Save" class="default" name="_save">
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>
</div>
<script>
var fileNoHighlight = function (context) {
	var ui = $.summernote.ui;
	var button = ui.button({
		contents: 'noHighlight',
		tooltip: 'noHighlight',
		click: function () {
			context.invoke('editor.pasteHTML', '<pre><div class="no_highlight">&ZeroWidthSpace;</div></pre>');
		}
	});

	return button.render();
}
var pythonFilename = function (context) {
	var ui = $.summernote.ui;
	var button = ui.button({
		contents: 'pythonFilename',
		tooltip: 'pythonFilename',
		click: function () {
			context.invoke('editor.pasteHTML', '<pre><div class="filename"><span class="filename">FILENAME</span></div><code class="rounded-lg shadow language-python">&ZeroWidthSpace;</code></pre>');
		}
	});

	return button.render();
}
var python = function (context) {
	var ui = $.summernote.ui;
	var button = ui.button({
		contents: 'python',
		tooltip: 'python',
		click: function () {
			context.invoke('editor.pasteHTML', '<pre><code class="rounded-lg shadow language-python">&ZeroWidthSpace;</code></pre>');
		}
	});

	return button.render();
}

var info = function (context) {
	var ui = $.summernote.ui;
	var button = ui.button({
		contents: 'info',
		tooltip: 'info',
		click: function () {
			context.invoke('editor.pasteHTML', '<div class="b-info" role="alert"><div class="b-info-t">&ZeroWidthSpace;</div></div>');
		}
	});

	return button.render();
}

var cli = function (context) {
	var ui = $.summernote.ui;
	var button = ui.button({
		contents: 'cli',
		tooltip: 'cli',
		click: function () {
			context.invoke('editor.pasteHTML', '<pre><code style="background-color: black" class="rounded-lg shadow language-bash">$&ZeroWidthSpace;</code></pre>');
		}
	});

	return button.render();
}

$(document).ready(function() {
	$('#summernote').summernote({
		height: 500,
		toolbar: [
			['style', ['style']],
			['style', ['bold', 'italic', 'underline', 'clear']],
			['font', ['strikethrough', 'superscript', 'subscript']],
			['color', ['color']],
			['para', ['ul', 'ol', 'paragraph']],
			['insert', ['link']],
			['view', ['codeview']],

			['code', ['python', 'cli', 'info', 'pythonFilename', 'noHighlight']]
		],
		buttons: {
			python: python,
			cli: cli,
			info: info,
			pythonFilename: pythonFilename,
			noHighlight: fileNoHighlight
		},
		styleTags: [
		{ title: 'Heading', tag: 'h5', value: 'h5' },
		{ title: 'Normal', tag: 'p', value: 'p' }
	],
	});
});
</script>

	{% endblock %}
