<button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
  class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto">
  {{ user.username }}
  <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
  </svg>
</button>
<!-- Dropdown menu -->
<div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-4400">
  <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownLargeButton">
    <li>
      <a href="#" class="block px-4 py-2 hover:bg-gray-100 line-through">Settings</a>
    </li>
  </ul>
  <div class="py-1 rounded-lg hover:bg-gray-100">
    <form id="logout-form" method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
        Odhlásit
      </button>
    </form>
  </div>
</div>
